body {
  margin: 0;
  padding: 0;
}

#canvas_div {
  margin: 20px;
  padding: 0;
}

input {
  display: block;
  margin-top: 20px;
}

#drawing_box {
  margin: 0px;
  padding: 0px;
  border: 2px solid black;
  overflow: none;
}

#main_spinner {
  display: none;
}

.spinner {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 148px;
  left: 148px;
  border: 6px solid #0f62fe;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 600ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
